:host {
  display: flex;
  width: 100%;
}

#main-content {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  overflow: auto;
  background: #f6f6f6;
  &.inverted {
    background: #41464d;
  }
  .ui.container {
    padding: 20px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

#sidebar-container {
  flex: 0 0 230px;
  display: flex;
  flex-direction: row;
  .ui.vertical.sidebar.menu {
    &.left {
      z-index: 103;
    }
    &.inverted {
      background: #272f37 !important;
    }
    &:not(.inverted) {
      background-color: #d6d6d6;
    }
    box-shadow: none;
    width: 230px;
    position: absolute;
    flex: 1;
    margin-bottom: auto;
    .item {
      padding: 10px;
    }
  }
  #bottom-attached-item {
    position: absolute;
    width: 230px;
    bottom: 0;
    z-index: 201;
    padding: 10px 5px;
    border-top: 1px solid grey;
    text-align: center;
    background: #c9ccd4;
    &.inverted {
      background: #2d2f34;
      border-top: 1px solid #4d4d4d;
    }
  }
  #sidebar-menu {
    border-right: 1px solid #c9c9c9;
    &.inverted {
      border-right: 1px solid #2f2f2f;
    }
  }
}
