:host {
  display: flex;
  width: 100%;
}

#main-content {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;

  &.inverted {
    background: #42474e;
  }

  .ui.container {
    padding: 20px;
  }
}

#sidebar-container {
  flex: 0 0 230px;
  display: flex;
  flex-direction: row;

  .ui.vertical.sidebar.menu {
    &.left {
      z-index: 103;
    }

    &:not(.inverted) {
      background-color: #edeff1;
    }

    &.inverted {
      background: #373f49;
    }

    box-shadow: none;
    width: 230px;
    position: absolute;
    flex: 1;
    margin-bottom: auto;
  }

  #bottom-attached-item {
    position: absolute;
    width: 230px;
    bottom: 0;
    z-index: 201;
    padding: 10px 5px;
    border-top: 1px solid grey;
    text-align: center;
  }

  #sidebar-menu {
    border-right: 1px solid #c9c9c9;

    &.inverted {
      border-right: 1px solid #2f2f2f;
    }
  }
}
