#centered-segment {
  top: 20vh;
  // height: 30vh;
  min-height: 380px;
  min-width: 472px;
  padding: 20px 30px 30px 20px;
}

.errorText {
  color: red;
}

.icon {
  margin-bottom: 5px;
  cursor: pointer;
}