<h4>{{ (currentServer | async).name }}</h4>

<div class="menu">
  <div class=""
    *ngIf="!(currentServer | async).channelList">
    <div class="ui active centered inline loader"></div>
  </div>

  <div *ngIf="(currentServer | async).channelList" id="chat-channel-list">   
    <h5>Text Channels</h5>
    <a class="item channel"
      *ngFor="let channel of (currentServer | async).channelList.channels"
      [class.inverted]="settingsService.invertedTheme"
      [class.selected]="(currentChatChannel | async) && (currentChatChannel | async)._id === channel._id"
      (click)="joinChannel(channel)">
      # {{ channel.name }}
    </a>
    <form action=""
      (submit)="createChannel()">
      <div class="ui small icon input">
        <input type="text"
          name="channelName"
          placeholder="Add New Channel"
          [(ngModel)]="newChannelName">
        <i class="inverted circular plus link icon"
          (click)="createChannel()"></i>
      </div>
    </form>
  </div>
</div>
