h5 {
  margin-top: 15px;
}

#chat-channel-list {
  a.item.channel {
    border-radius: 3px !important;
    margin: 1px 0;
  }

  a.item:hover, a.item.active {
    background: #d6d6d6 !important;

    &.inverted {
      background: #666 !important;
    }
  }
}
