.dm-list {
  padding: 0 !important;
}

.ui.list {
  margin-top: 0;

  .item {
    padding: 5px 10px !important;

    .header {
      padding-top: 5px;
    }

    &:hover {
      background: #d6d6d6;
    }
  }

  &.inverted {
    .item {
      &:hover {
        background: #424242;
      }
    }
  }
}