.primary.button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.action.input {
  width: 350px;
  ::selection {
    background: white;
  }
  input {
    background: #2eadc8;
    color: white;
  }
}
