.header {
  background: #fff !important;
}

.segment {
  margin: 0;
  border-radius: 0;
}

.errorMsg {
  color: red;
}

#upload-field {
  overflow: hidden;

  .button {
    max-width: 200px;
    float: left;
    margin-right: 15px;
  }
}
