<div id="home-background">
  <div class="ui padded raised segment" id="server-list-container">
    <h1>Joined Servers</h1>

    <div class="ui eight doubling cards">

      <a class="ui raised card" *ngFor="let server of serverList"
        [routerLink]="['channels', server._id]">
        <div class="image">
          <img *ngIf="server.image_url" [src]="server.image_url"
            alt="">
          <div class="server-content text" *ngIf="!server.image_url">
            <p>
              {{ server.name.substring(0,15) | uppercase}}
            </p>
          </div>
        </div>
        <div class="content">
          <a class="description">{{server.name}}</a>
        </div>
      </a>

    </div>
  </div>
</div>
