<div id="chat-wrapper">
  <div id="header"
    [class.inverted]="settingsService.invertedTheme">
    <h3 class="ui header"
      [class.inverted]="settingsService.invertedTheme">
      {{(currentChannel | async).server_id ? '#' : '@'}} {{ (currentChannel | async).name }}
    </h3>
  </div>
  <div class="ui middle aligned divided very relaxed list"
    [class.inverted]="settingsService.invertedTheme"
    id="message-container">
    <div *ngIf="!(currentChannel | async).messages"
      class="ui active centered inline loader">
    </div>
    <div *ngIf="(currentChannel | async).messages && (currentChannel | async).messages.length < 1"
      class="ui item">
      <p align="center">
        <i>No chat messages here yet!</i>
      </p>
    </div>
    <div class="item"
      *ngFor="let msg of (currentChannel | async).messages; let i = index;"
      [class.follow-up]="isFollowUpMsg(i)"
      [class.has-follow-up]="hasFollowUpMsg(i)">
      <img *ngIf="!isFollowUpMsg(i)"
        class="ui avatar image"
        src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="header"
          *ngIf="!isFollowUpMsg(i)">
          <a class="username">
            {{ msg.username }}
          </a>
          <span class="messageDate"
            *ngIf="!isToday(msg.createdAt)">
            {{ msg.createdAt | date }} at {{ msg.createdAt | date:'shortTime' }}
          </span>
          <span class="messageDate"
            *ngIf="isToday(msg.createdAt)">
            Today at {{ msg.createdAt | date:'shortTime' }}
          </span>
        </div>
        <p>{{ msg.message }}</p>
      </div>
    </div>
  </div>

  <div id="chat-input">
    <form (submit)="sendMessage(chatMessage)"
      [class.inverted]="settingsService.invertedTheme"
      class="ui form">
      <div class="ui fluid small input">
        <input type="text"
          autocomplete="off"
          placeholder="Chat in #{{ (currentChannel | async).name }}..."
          name="chatMessage"
          [(ngModel)]="chatMessage">
      </div>

    </form>

  </div>
</div>
