<div id="chat-wrapper">
  <div id="header">
    <h3 class="ui header">
      # {{ currentChannel.name }}
    </h3>
  </div>

  <div class="ui middle aligned divided relaxed list"
    id="message-container">
    <div class="item"
      *ngFor="let msg of currentChannel.messages">
      <img class="ui avatar image"
        src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <a class="header">{{ msg.username }}</a>
        <p>{{ msg.message }}</p>
      </div>
    </div>
  </div>

  <div id="chat-input">
    <form (submit)="sendMessage(chatMessage)"
      class="ui form">
      <div class="ui fluid input">
        <input type="text"
          placeholder="Chat..."
          name="chatMessage"
          [(ngModel)]="chatMessage">
      </div>

    </form>

  </div>
</div>
