#chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}

#message-container {
  margin: 0;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
  .loader {
    margin: auto;
  }
}

#chat-input {
  form {
    margin: 0;
    width: 100%;
  }
  padding: 15px;
  margin-top: auto;  
}

