<div class="ui basic padded segment">
  <h3 class="ui header"
    [class.inverted]="settingsService.invertedTheme">
    Friend Requests
  </h3>

  <table class="ui very basic celled padded table"
    [class.inverted]="settingsService.invertedTheme">
    <thead>
      <tr>
        <th>Username</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friendRequest of (friendsStore | async).friendRequests">
        <td>
          {{ friendRequest.username }}
        </td>
        <td>
          {{ friendRequest.type | uppercase }}
        </td>
        <td>
          <button class="ui red icon button"
            (click)="rejectFriendRequest(friendRequest.user_id)">
            <i class="remove icon"></i>
          </button>
          <button *ngIf="friendRequest.type === 'incoming'"
            class="ui green icon button"
            (click)="addFriend(friendRequest.user_id)">
            <i class="check icon"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>