<div class="ui basic padded segment">
  <button class="small ui green icon button"
    (click)="openAddFriendModal()">
    <i class="plus icon"></i>
    Add New Friend
  </button>

  <h3 class="ui header"
    [class.inverted]="settingsService.invertedTheme">
    Friend Requests
  </h3>

  <table class="ui teal celled padded table"
    [class.inverted]="settingsService.invertedTheme">
    <thead>
      <tr>
        <th>Username</th>
        <th>Type</th>
        <th>Accept/Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!(friendsStore | async).friendRequests.length">
        <td colspan="3"
          class="center-aligned">
          <i>No pending friend requests at the moment :(</i>
        </td>
      </tr>
      <tr *ngFor="let friendRequest of (friendsStore | async).friendRequests">
        <td>
          <b>{{ friendRequest.username }}</b>
        </td>
        <td>
          {{ friendRequest.type | uppercase }}
        </td>
        <td>
          <button class="ui red icon button"
            (click)="rejectFriendRequest(friendRequest.user_id)">
            <i class="remove icon"></i>
          </button>
          <button *ngIf="friendRequest.type === 'incoming'"
            class="ui green icon button"
            (click)="confirmAddFriend(friendRequest.user_id)">
            <i class="check icon"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
