<div class="ui basic padded segment" [class.inverted]="settingsService.invertedTheme">

  <div id="header">
    <h3 class="left floated ui header"
      [class.inverted]="settingsService.invertedTheme">
      Friend Requests
    </h3>

    <button class="right floated small ui primary icon button"
      (click)="openAddFriendModal()">
      <i class="plus icon"></i>
      Add a friend
    </button>

  </div>

  <div *ngIf="!friendRequests.length">
    <p>
      <i>No pending friend requests
        at the moment!</i>
    </p>
  </div>

  <table *ngIf="friendRequests.length"
    class="ui teal celled padded table"
    [class.inverted]="settingsService.invertedTheme">
    <thead>
      <tr>
        <th>Username</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friendRequest of friendRequests">
        <td>
          <b>{{ friendRequest.username
            }}</b>
        </td>
        <td class="request-type">
          {{ friendRequest.type | uppercase }}
        </td>
        <td>
          <button class="ui red icon button"
            (click)="rejectFriendRequest(friendRequest.user_id)">
            <i class="remove icon"></i>
          </button>
          <button *ngIf="friendRequest.type === 'incoming'"
            class="ui green icon button"
            (click)="confirmAddFriend(friendRequest.user_id)">
            <i class="check icon"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
