h3.ui.header {
  margin-bottom: 30px;
}

table {
  .ui.icon.button {
    padding: 0.53em;
  }
}

.ui.green.button {
  margin-bottom: 10px;
}

th {
  text-transform: uppercase !important;
  font-weight: normal !important;
  font-size: 0.85em;
}

td, th {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.center-aligned {
  text-align: center !important;
}
