<!-- LEFT MAIN SIDEBAR -->
<div id="sidebar-container">
  <div id="sidebar-menu" class="ui visible left vertical sidebar menu"
    [class.inverted]="settingsService.invertedTheme">

    <div class="ui dropdown" suiDropdown [(isOpen)]="serverDropdownOpen">

      <div class="server-title" (contextmenu)="onRightClickServerTitle($event)"
        [class.active]="serverDropdownOpen"
        *ngIf="currentServer">
        <h3 class="ui header" [class.inverted]="settingsService.invertedTheme">
          {{ currentServer.name }}
        </h3>
        <i class="vertical ellipsis icon"></i>
      </div>

      <div class="menu" suiDropdownMenu>
        <div class="item" (click)="openServerInviteModal()">
          <i class="user plus icon"></i>
          Invite People
        </div>
        <div *ngIf="!isOwner" class="item red" (click)="showLeaveServerConfirm()">
          <i class="minus icon"></i>
          Leave Server
        </div>
        <div *ngIf="isOwner" class="item red" (click)="showDeleteServerConfirm()">
          <i class="trash icon"></i>
          Delete Server
        </div>
      </div>
    </div>


    <div class="item" *ngIf="currentServer">
      <app-channels-list [currentServer]="(currentServerObs | async)"
        [currentChatChannel]="(currentChatChannel | async)"
        [currentVoiceChannel]="(currentVoiceChannel | async)"
        [me]="me">
      </app-channels-list>
    </div>
    <div class="item" *ngIf="(currentVoiceChannel | async)">
      <app-voice-channel [currentVoiceChannel]="(currentVoiceChannel | async)">
      </app-voice-channel>
    </div>
  </div>

  <div class="item" id="bottom-attached-item">
    <h4 class="ui header" [class.inverted]="settingsService.invertedTheme"
      align="">
      Inverted Theme &nbsp;&nbsp;
      <sui-checkbox name="invertedTheme" ngDefaultControl
        [(ngModel)]="settingsService.invertedTheme"
        class="toggle" style="float:right">
      </sui-checkbox>
    </h4>
  </div>

</div>

<!-- /LEFT MAIN SIDEBAR -->

<!-- MAIN CONTENT SECTION -->
<div id="main-content" class="ui segment"
  [class.inverted]="settingsService.invertedTheme">

  <router-outlet></router-outlet>

</div>
<!-- /MAIN CONTENT SECTION -->

<!-- RIGHT SIDEBAR -->
<div id="sidebar-container" *ngIf="currentServer">
  <div class="ui visible right vertical sidebar menu"
    [class.inverted]="settingsService.invertedTheme">
    <div class="item">
      <h4>Members</h4>
    </div>
    <app-user-list [currentServer]="(currentServerObs | async)"></app-user-list>
  </div>
</div>
<!-- /RIGHT SIDEBAR -->
