.ui.left.sidebar.menu {
  &.inverted {
    .server-title {
      border-bottom: 1px solid rgb(63, 63, 63);
    }
  }
}

.ui.dropdown {
  width: 100%;
  .menu {
    right: 10px;
    left: 10px;
    .item {
      &.red {
        color:#7e0606 !important;
      }
    }
  }
}

.server-title {
  // margin: -15px -15px 20px -15px;
  overflow: hidden;
  min-height: 50px;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding: 15px 8px 10px 13px;

  h3 {
    font-size: 15px;
    float: left;
    margin: 0;
  }

  i {
    position: absolute;
    right: 3px;
    top: 15px;
    cursor: pointer;
  }
}
