.button.less-padding {
  padding: 8px;
}

#voice-channel-actions {
  button {
    padding: 8px !important;
    float: right;
  }
}

.ui.list {
  padding: 5px 10px;
}

.avatar.image {
  width: 20px;
  height: 20px;
}
