h4 {
  cursor: pointer;
}

.item {
  margin: 10px 7px;
  background-size: 100% !important;
  height: 50px !important;
  width: 50px !important;
  filter: brightness(90%);
  background: grey !important;
  padding: 0 !important;
  &:before {
    display: none;
  }
  background: none !important;
  .server-content {
    border-radius: 5px;
    width: 95% !important;
    height: 95% !important;
    margin: 2.5% !important;
    max-width: none !important;
    max-height: none !important;
    &.image {
      padding: 2.5% !important;
    }
    &.text {
      border: 1px solid grey;
      padding: 15px 0;
      text-align: center;
    }
  }
  &.active,
  &:hover {
    .server-content {
      border-radius: 3px !important;
      border-left: 2px solid #00caf3 !important;
      width: 100% !important;
      height: 100% !important;
      transition: 0.2s;
      filter: brightness(100%); // box-shadow: 0 0 4px #30b4ef;
      margin: 0 !important;
      &.image {
        padding: 0 !important;
      }
      &.text {
        padding: 15px 0;
        font-size: 16px !important;
      }
    }
  }
}
