h5 {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 8px;
  color: grey;
}

.header {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 8px;

  h5 {
    float: left;
    margin: 0;
  }

  i {
    float: right;
    color: grey;

    &:hover {
      color: #2eb731;
    }
  }
}

#chat-channel-list {
  a.item.channel {
    font-size: 0.94em;
    padding: .6em 0.7em;
    border-radius: 3px !important;
    margin: 1px 0;

    &.inverted {
      color: rgba(255, 255, 255, 0.5);
    }

    i:not(.trash) {
      float: none;
      margin: 0;
      margin-right: 2px;
    }

    i.trash {
      float: right;
      display: none;

      &:hover {
        color: red;
        display: block;
      }
    }

    &:hover {
      i.trash {
        display: block;
      }
    }
  }

  .has-unread-messages {
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.93);

    &.inverted {
      color: rgba(255, 255, 255, 0.85) !important;

      i.small {
        color: #10e9ea;
      }
    }

    i.small {
      color: #1351b3;
    }
  }

  a.item:hover {
    background: #cacaca !important;

    &.inverted {
      background: #384149 !important;
    }
  }

  a.item.active {
    font-weight: 400 !important;
    background: #c3c2c2 !important;

    &.inverted {
      background: #404d5a !important;
      color: rgba(255, 255, 255, 0.85) !important;
    }
  }

  a.item.active {
    color: rgba(0, 0, 0, 0.85);
  }
}

.loader {
  margin-top: 30px !important;
}
