h5 {
  margin: 0 0 5px 0;
}

.ui.list {
  margin-top: 0;

  .item {
    padding: 5px 10px !important;

    .header {
      color: #4183C4;
    }

    .description {
      font-size: 0.8em;
      color: grey;
    }

    &:hover {
      background: #d6d6d6;
    }
  }

  &.inverted {
    .item {
      &:hover {
        background: #424242;
      }
    }
  }
}

.offline-users {
  .item {
    &:not(.inverted) {
      .header {
        color: #999 !important;
      }
    }

    &.inverted {
      color: #6d6e71 !important;
    }

    &:not(:hover) {
      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
}
