<div class="item"
  (mouseenter)="onMouseEnter(true)"
  (mouseleave)="onMouseEnter(false)">
  <h5>Online</h5>
  <div class=""
    *ngIf="!onlineUsers">
    <div class="ui active centered inline loader"></div>
  </div>
  <div *ngIf="onlineUsers"
    class="ui list online-users"
    [class.inverted]="settingsService.invertedTheme">
    <a class="item"
      *ngFor="let user of onlineUsers; trackBy:(userListTrackBy)"
      [sh-context]="menuItems">
      <img class="ui avatar image"
        src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="header">
          {{ user.username }}
        </div>
        <div class="description">
          Status
        </div>
      </div>
    </a>
  </div>
  <h5>Online</h5>
  <div *ngIf="offlineUsers && onlineUsers.length < 100"
    class="ui list offline-users"
    [class.inverted]="settingsService.invertedTheme">
    <a class="item"
      *ngFor="let user of offlineUsers; trackBy:(userListTrackBy)">
      <img class="ui avatar image"
        src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="header">
          {{ user.username }}
        </div>
        <div class="description">
          Offline
        </div>
      </div>
    </a>
  </div>
</div>
