<div class="item less-padding"
  (mouseenter)="onMouseEnter(true)"
  (mouseleave)="onMouseEnter(false)">
  <div class=""
    *ngIf="!onlineUsers">
    <div class="ui active centered inline loader"></div>
  </div>
  <div *ngIf="onlineUsers && onlineUsers.length > 0"
    class="ui list online-users"
    [class.inverted]="settingsService.invertedTheme">
    <h5>Online</h5>
    <a class="item"
      *ngFor="let user of onlineUsers; trackBy:(userListTrackBy)"
      [sh-context]="menuItems"
      [sh-data-context]="user"
      [sh-options]="{ theme: 'dark' }">
      <img class="ui avatar image"
        src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="header">
          {{ user.username }}
        </div>
        <div class="description">
          Status
        </div>
      </div>
    </a>
  </div>
  <div *ngIf="offlineUsers && offlineUsers.length > 0 && onlineUsers.length < 100"
    class="ui list offline-users"
    [class.inverted]="settingsService.invertedTheme">
    <h5>Offline</h5>
    <a class="item"
      *ngFor="let user of offlineUsers; trackBy:(userListTrackBy)"
      [sh-context]="menuItems"
      [sh-data-context]="user"
      [sh-options]="{ theme: 'dark' }">
      <img class="ui avatar image"
        src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      <div class="content">
        <div class="header">
          {{ user.username }}
        </div>
        <div class="description">
          Offline
        </div>
      </div>
    </a>
  </div>
</div>
