h5 {
  margin: 0;
}
.ui.list {
  margin-top: 0;
  .item {
    padding: 5px 10px !important;

    .header {
      color: #4183C4;
    }

    &:hover {
      background: #d6d6d6;
    }
  }

  &.inverted {
    .item {
      &:hover {
        background: #424242;
      }
    }
  }
}

.offline-users {
  .item {
    .header {
      color: #999 !important;
    }

    &:not(:hover) {
      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
}
