::-webkit-scrollbar {
  width: 3px;
}

.left.vertical.sidebar.menu {
  overflow: hidden !important;

  &:hover {
    overflow-y: auto !important;
  }
}

.dm-list {
  padding: 0 !important;
}

.ui.menu {
  .item {
    border: none !important;
  }

  &.inverted {
    .active.item {
      background: rgba(255, 255, 255, 0.08);
    }
  }
}
