<!-- LEFT MAIN SIDEBAR -->
<div id="sidebar-container">
  <div id="sidebar-menu"
    class="ui visible left vertical sidebar menu"
    [class.inverted]="settingsService.invertedTheme">
    <div class="item">
      <h5>Direct Messages</h5>
    </div>
    <div class="item less-padding">
      <div class="ui list dm-list"
        [class.inverted]="settingsService.invertedTheme"
        *ngIf="(currentServer | async).channelList">

        <a class="item channel"
          *ngFor="let channel of (currentServer | async).channelList.channels"
          [class.active]="(currentChatChannel | async) && (currentChatChannel | async)._id === channel._id"
          (click)="joinChannel(channel)">
          <img class="ui avatar image"
            src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
          <div class="content">
            <div class="header">
              {{ getChannelName(channel) }}
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>

  <div class="item"
    id="bottom-attached-item">
    <h4 class="ui header"
      [class.inverted]="settingsService.invertedTheme"
      align="">
      Inverted Theme &nbsp;&nbsp;
      <sui-checkbox name="invertedTheme"
        ngDefaultControl
        [(ngModel)]="settingsService.invertedTheme"
        class="toggle"
        style="float:right">
      </sui-checkbox>
    </h4>
  </div>

</div>
<!-- /LEFT MAIN SIDEBAR -->

<!-- MAIN CONTENT SECTION -->
<div id="main-content"
  class="ui segment"
  [class.inverted]="settingsService.invertedTheme">
  <h3>Friend Requests</h3>
  {{ (friendsStore | async).friendRequests | json }}
  <router-outlet></router-outlet>
</div>
<!-- /MAIN CONTENT SECTION -->

<!-- RIGHT SIDEBAR -->
<div id="sidebar-container">
  <div class="ui visible right vertical sidebar menu"
    [class.inverted]="settingsService.invertedTheme">
    <div class="item">
      <h4>All Friends</h4>
    </div>
    <app-user-list [currentServer]="(currentServer | async)"></app-user-list>
  </div>
</div>
<!-- /RIGHT SIDEBAR -->