<!-- LEFT MAIN SIDEBAR -->
<div id="sidebar-container">
  <div id="sidebar-menu"
    class="ui visible left vertical sidebar menu"
    [class.inverted]="settingsService.invertedTheme">
    <div class="item">
      <h4>Direct Messages</h4>
    </div>

    <div class="item"
      *ngIf="(currentServer | async).channelList">
      <a class="item channel"
        *ngFor="let channel of (currentServer | async).channelList.channels"
        [class.inverted]="settingsService.invertedTheme"
        [class.active]="(currentChatChannel | async) && (currentChatChannel | async)._id === channel._id"
        (click)="joinChannel(channel)">
        {{ channel.name }}
      </a>
    </div>
  </div>

  <div class="item"
    id="bottom-attached-item">
    <h4 class="ui header"
      [class.inverted]="settingsService.invertedTheme"
      align="">
      Inverted Theme &nbsp;&nbsp;
      <sui-checkbox name="invertedTheme"
        ngDefaultControl
        [(ngModel)]="settingsService.invertedTheme"
        class="toggle"
        style="float:right">
      </sui-checkbox>
    </h4>
  </div>

</div>
<!-- /LEFT MAIN SIDEBAR -->

<!-- MAIN CONTENT SECTION -->
<div id="main-content"
  class="ui segment"
  [class.inverted]="settingsService.invertedTheme">
  <router-outlet></router-outlet>
</div>
<!-- /MAIN CONTENT SECTION -->

<!-- RIGHT SIDEBAR -->
<div id="sidebar-container">
  <div class="ui visible right vertical sidebar menu"
    [class.inverted]="settingsService.invertedTheme">
    <p>Group chat members (if in a group chat)</p>

    <p>Friends list here</p>
  </div>
</div>
<!-- /RIGHT SIDEBAR -->
