#main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar-width-300 {
  flex: 0 0 250px;
}

#sidebar-menu {
  width: 250px;
  border-right: 1px solid #c9c9c9;
  &.inverted {
    border-right: 1px solid #2f2f2f;
  }
}

#main-content {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  &.inverted {
    background: #2d2e2f;
  }
  .ui.container {
    padding: 20px;
  }
}
