#page-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#server-sidebar {
  width: 65px;
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #343434;

  &.light {
    background: #2e404f;
  }
}

#main-wrapper {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: row;
}

#main-content {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;

  &.inverted {
    background: #383b3f;
  }

  .ui.container {
    padding: 20px;
  }
}

#sidebar-container {
  flex: 0 0 230px;
  display: flex;
  flex-direction: row;

  .ui.vertical.sidebar.menu {
    &.inverted {
      background: #242526;
    }

    box-shadow: none;
    width: 230px;
    position: absolute;
    flex: 1;
    margin-bottom: auto;

    &:not(.inverted) {
      background-color: #f3f3f3;
    }
  }

  #bottom-attached-item {
    position: absolute;
    width: 230px;
    bottom: 0;
    z-index: 201;
    padding: 10px 5px;
    border-top: 1px solid grey;
    text-align: center;
  }
}

#sidebar-menu {
  border-right: 1px solid #c9c9c9;

  &.inverted {
    border-right: 1px solid #2f2f2f;
  }
}
