#page-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 2px;
}

#server-sidebar {
  overflow-y: auto;
  width: 65px;
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #343434;
  background: #121b24;
  &.light {
    background: #2e404f;
  }
}

#main-wrapper {
  position: relative;
  flex: 2;
  background: rgb(230, 230, 230);
}
