#page-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#server-sidebar {
  width: 65px;
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #343434;

  &.light {
    background: #2e404f;
  }
}

#main-wrapper {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: row;
}
