#background-wrapper {
  width: 100%;
  height: 100vh;
  background: grey;
}

form {
  margin-top: 30px;
}

input.ng-invalid.ng-dirty.ng-touched {
  border: 2px solid #cd5858 !important;
}

.buttons-container {
  overflow: hidden;
  margin-top: 20px;
}

.ui.button {
  border-radius: 8px !important;
  &.tertiary {
    &:not(:hover) {
      box-shadow: none !important;
      background: none !important;
    }
    &.basic {
      color: rgba(0, 0, 0, 0.8) !important;
    }
  }
}

.ui.message.error {
  text-align: center;
  box-shadow: 0 0 0 1px grey !important;
  background-color: #750d0d !important;
  border-radius: 0;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.message.error .header {
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.message .close.icon {
  top: 0.7em !important;
}

.item {
  &.less-padding {
    padding: 13px 8px !important;
  }
}

.sh-menu-item {
  div {
    color: #dcdcdc !important;
  }
  &:hover {
    background: #1e1f21 !important;
    &.sh-menu-disabled {
      cursor: auto !important;
      background: initial !important;
      div {
        color: #dcdcdc !important;
      }
    }
    div {
      color: #fff !important;
    }
  }
}

.text-danger {
  color: rgb(223, 39, 39);
}
